/* Reset style - para padronizar estilos entre diferentes browsers */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Container para todas as páginas */
.container {
  flex: 1; /* Para preencher todo o espaço */
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

/* Menu lateral */
.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
}

.menu {
  text-align: center; /* Tudo centralizado */
}

.menu img {
  width: 100px; /* Largura da imagem */
  height: auto;
  margin-bottom: 10px; /* spacing entre a imagem da sidebar e os items */
}

.menu ul {
  list-style: none;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
}

.menu a:hover {
  color: #3498db;
}

/* Estilização do footer */

.footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer em {
  font-style: italic;
}

/* Estilização da página de portfólio */

.portfolio-content {
  display: flex;
  flex-direction: column; /* Muda para o layout de coluna */
  gap: 20px;
}

.portfolio-item {
  border: 1px solid #ccc;
  padding: 10px;
}

.button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Estilização do formulário da página de contato */

.form-content {
  max-width: 400px;
}

.form-field {
  margin-bottom: 15px;
}

/* Cada label fica acima do input */
.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}